@using Crudelicious.Models
@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
        <h1>@Model.Name</h1>
        <h3>@Model.Chef</h3>
        <h6>@Model.Description</h6>
        <h6>Calories:</h6><h6>@Model.Calories</h6>
        <h6>Tastiness:</h6><h6>@Model.Tastiness</h6>

        <a href="/Delete/@Model.DishId" class="btn btn-danger">Delete</a>
        <a href="/RenderEdit/@Model.DishId" class="btn btn-warning">Edit</a>
</body>
</html>